
@{
    ViewBag.Title = "Performance comparsion of HTTP/1 vs HTTP/2";
}
<body class="main body-content">
    <h2>@ViewBag.Title.</h2>
    <span>The following iframe uses</span>
    <span>Http/1</span>
    <iframe src="http://eywin2016http1.cloudapp.net/"></iframe>
    <hr />
    <span>The following iframe uses </span>
    <span>Http/2</span>
    <iframe src="https://eywin2016.cloudapp.net/"></iframe>
</body>